{% extends 'base/front_base.html'%}

{% block title %}
    付费资讯
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="thumbnail">
                    <img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt="">
                </div>
                <ul class="pay-wrapper">
                    <li class="pay-group">
                       <div class="pay-thumbnail">
                           <img src="https://www.xfz.cn/static/build/images/web-bp-pc.png" alt="">
                       </div>
                       <div class="pay-info">
                           <p class="pay-title">
                               如何写好一份商业计划书
                           </p>
                           <p class="pay-desc">
                               一份好的商业计划书，是创业成功的开始
                           </p>
                           <span class="pay-number">￥8.8</span>
                       </div>
                   </li>
                    <li class="pay-group">
                       <div class="pay-thumbnail">
                           <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                       </div>
                       <div class="pay-info">
                           <p class="pay-title">
                               大数据、AI与企业服务
                           </p>
                           <p class="pay-desc">
                               大数据、AI与企业服务市场的交融将带来什么新的机会？
                           </p>
                           <span class="pay-number">￥9.9</span>
                       </div>
                   </li>
                    <li class="pay-group">
                       <div class="pay-thumbnail">
                           <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                       </div>
                       <div class="pay-info">
                           <p class="pay-title">
                               汽车市场研究
                           </p>
                           <p class="pay-desc">
                               汽车渠道：新车渠道看好“车和家”；二手车渠道关注效率、系统性盈利能力
                           </p>
                           <span class="pay-number">￥9.9</span>
                       </div>
                   </li>
                    <li class="pay-group">
                       <div class="pay-thumbnail">
                           <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                       </div>
                       <div class="pay-info">
                           <p class="pay-title">
                               大数据、AI与企业服务
                           </p>
                           <p class="pay-desc">
                               大数据、AI与企业服务市场的交融将带来什么新的机会？
                           </p>
                           <span class="pay-number">￥9.9</span>
                       </div>
                   </li>
                    <li class="pay-group">
                       <div class="pay-thumbnail">
                           <img src="https://www.xfz.cn/static/build/images/web-bg-pc.png" alt="">
                       </div>
                       <div class="pay-info">
                           <p class="pay-title">
                               大数据、AI与企业服务
                           </p>
                           <p class="pay-desc">
                               大数据、AI与企业服务市场的交融将带来什么新的机会？
                           </p>
                           <span class="pay-number">￥9.9</span>
                       </div>
                   </li>

                </ul>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}